<div class = "name">
	Victoria Fisher
</div>
<div class = "pic">
	<br><img src="/images/photoofme.png"><br>
</div>
<div class="list">
	<br><ul>
		<li>Post-bacc Computer Science student at Oregon State University</li>
		<li>Expected graduation date: June 2020</li>
		<li>Currently located in Corvallis, OR</li>
	</ul>
</div>