<form method="POST" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php">
	<div class = "contact">
    	<fieldset>
     		<br><h3>Contact me</h3>
			<input type = "text" id = "name" placeholder = "Name">
	 		<input type = "email" id = "email" placeholder = "Email"><br>
	 		<textarea id = "message" placeholder = "Message" cols="41" rows="8"></textarea><br>
    		<input type="submit" name = "submit" id="submit_btn">
	    </fieldset>
		</div>
</form>