<div id="contains-resume" style="height:650px;width:1200px;overflow:auto;">
	<br>
		<img src="/images/resume.png" alt="Victoria's Resume">
</div>

<div class = "contains-buttons" align="center">
    <span>
       <br> <a href="/images/VictoriaFisherResume.pdf">
	    <button id="downloadResume">Download resume</button> </a>
    </span>
	<span>
		<a href="https://www.linkedin.com/in/vtoriafisher/">
			<button class="linkedinLink">LinkedIn</button> </a>
	</span>
	<span>
		<a href="https://github.com/vtoriafisher">
			<button class="gitHubLink">GitHub</button> </a>
	</span>
</div>
</div>